In [6]:
from Bio.Blast.Applications import NcbiblastpCommandline

In [7]:
import pandas as pd

In [8]:
from Bio.Blast.Applications import NcbiblastxCommandline

In [11]:
df = pd.read_excel('onlygrp.xlsx', sheet_name='Sheet1')
df

,id,seq,Organism
0,at2g05380.1,masktllllglfaflfivsemaaagtvkseseetvkpeqhgggfgd...,Arabidpsis Thaliana
1,at2g05380.2,masktllllglfaflfivsemaaagtvkseseetvkpeqhgggfgd...,Arabidpsis Thaliana
2,at2g05380.3,mgtyyssqvlssickkmasktllllglfaflfivsemaaagtvkse...,Arabidpsis Thaliana
3,at2g05440.1,maskalillglfsvllvvsevsaarqsgmvkpeseetvqpegyggg...,Arabidpsis Thaliana
4,at2g05440.2,maskalillglfsvllvvsevsaarqsgmvkpeseetvqpegyggg...,Arabidpsis Thaliana
...,...,...,...
297,"KAG2329524,1",mafckslggklrqgavsqtsnvlvqsmlgslwyistklfvgglswg...,Brassica carinata]
298,"KAG2325919,1",mafckslggllrqgavtqtgnvpvtsmlgslrymstklfvgglswg...,Brassica carinata]
299,"KAG2314518,1",mafckslggllrqgavsqtgnvpvqsmlgslrymstkifvgglswg...,Brassica carinata]
300,"KAG2255497,1",mafcknlggllrqgavsqtgnvpvqsmlgslrymstklfvgglswg...,Brassica carinata]
301,"KAG2251632,1",mafckslggllrqgvvsqtgnvpvtsmlgslrymstklfvgglswg...,Brassica carinata]

In [12]:
arabidopsis_id = [] 
arabidopsis_seq = []
rest_id = [] 
rest_seq = []
result = []

for index, row in df.iterrows():
    if row['Organism'] == 'Arabidpsis Thaliana': 
        arabidopsis_id.append(row['id'])
        arabidopsis_seq.append(row['seq'])
    if row['Organism'] != 'Arabidpsis Thaliana': 
        rest_id.append(row['id'])
        rest_seq.append(row['seq'])

In [13]:
for i in range(0,len(rest_id)):
    file = open(f'{rest_id[i]}.fasta', 'w')
    file.write(f'>{rest_id[i]}\n{rest_seq[i]}\n')

In [14]:
file = open('ara.fasta','w')
for i in range(0,len(arabidopsis_id)):
    file.write(f'>{arabidopsis_id[i]}\n{arabidopsis_seq[i]}\n')

In [15]:
from Bio.Blast import NCBIWWW
import os

In [16]:
os.system('makeblastdb -in ara.fasta -dbtype prot -out ara.db')

Building a new DB, current time: 07/18/2023 11:12:55
New DB name:   /home/ubuntu/Desktop/blast/ara.db
New DB title:  ara.fasta
Sequence type: Protein
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 44 sequences in 0.015682 seconds.

0

In [26]:
blastx_cline = NcbiblastxCommandline(query='a0a0d2zrf8.fasta', db='ara.db', out="my_blast.xml")

In [98]:
#a0a0d2zrf8.fasta


for i in rest_id:
    S = f'blastp -query={i}.fasta -db ara.db -out {i}.out -outfmt 6'
    result.append(os.system(S))

In [117]:
result_id = []
result_ev = []

for i in rest_id: 
    #print(os.path.getsize(f'{i}.out'))
    if os.path.getsize(f'{i}.out') != 0:
        data = pd.read_table(f'{i}.out',delimiter='\t',header=None)
        #print(data)
        #result.append(data.iloc[[0,1],[0,10]])
        result_id.append(data.loc[0,1])
        result_ev.append(data.loc[0,10])
    if os.path.getsize(f'{i}.out') == 0:
        result_id.append('-')
        result_ev.append('-')

In [118]:
len(result_id)

243

In [119]:
len(result_ev)

243

In [120]:
len(rest_id)

243

In [121]:
print(result_id)

['at2g05520.6', '-', 'at2g21060.1', 'at2g21060.1', 'at4g13850.3', 'at4g13850.3', 'at2g05520.5', 'at2g05520.5', 'at4g13850.3', 'at2g32690.4', 'at2g05520.5', '-', 'at2g05530.1', '-', '-', 'caa77881.1', '-', 'caa77882.1', 'q9ly09', 'q9ly09', '-', 'at2g05520.5', 'at2g32690.2', '-', '-', '-', 'q9ly09', '-', '-', '-', '-', '-', 'q9ly09', 'q9ly09', 'at2g05520.5', 'caa77882.1', '-', 'caa77882.1', 'q9ly09', '-', '-', '-', 'caa77881.1', '-', '-', '-', '-', '-', '-', '-', 'at2g05520.6', 'at2g05540.1', 'at2g05520.2', 'cad5318179', 'cad5318179', 'cad5318179', 'cad5318179', 'cad5318179', 'cad5318179', '-', 'caa77881.1', 'caa77881.1', '-', '-', '-', '-', '-', 'at2g05530.2', 'caa77881.1', 'q9ly08', 'caa77882.1', 'caa77881.1', '-', 'at2g05530.2', '-', '-', '-', 'q9ly08', 'caa77881.1', 'at2g05520.4', 'q9ly08', 'at2g05530.2', 'at2g05380.2', 'at4g13850.1', 'cad5318179', '-', 'at2g05510.2', '-', '-', 'at2g05380.2', 'caa77881.1', 'caa77881.1', 'at2g21660.2', '-', '-', '-', '-', 'caa77881.1', 'caa77882.1', '-', 'cad5318179', '-', 'cad5318179', 'caa77882.1', '-', 'caa77882.1', 'cad5318179', '-', '-', '-', 'q9ly08', 'q9ly09', 'q9ly09', '-', 'at2g05510.3', 'caa77882.1', 'at2g05530.2', 'at2g05440.6', '-', '-', 'at2g05520.3', 'at2g21660.2', 'at4g13850.3', 'at2g21660.2', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', 'at2g21660.2', 'at2g05520.6', 'at2g05520.3', 'at4g13850.3', '-', '-', '-', 'caa77881.1', 'at2g32690.4', 'at2g32690.2', 'at2g21060.1', 'caa77881.1', '-', 'cad5318179', '-', '-', '-', 'at2g05520.5', 'at2g05520.5', 'at2g05520.5', 'at2g05520.5', 'at2g05520.3', 'at2g05520.3', 'at2g05520.3', 'at2g05520.5', 'at4g13850.2', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', '-', '-', 'at4g13850.3', '-', 'q9ly09', '-', 'at2g05440.8', '-', 'at2g21660.2', 'q9ly08', '-', 'at2g21660.2', '-', '-', 'at4g13850.2', 'at4g13850.3', 'at4g13850.2', 'at4g13850.2', 'at4g13850.2', 'at4g13850.3', 'at4g13850.2', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', 'at4g13850.2', 'caa77881.1', 'at2g21660.1', 'at2g05520.5', 'at2g05520.5', 'at2g05520.6', 'at2g05520.3', 'at2g05520.5', 'at2g05520.3', 'at4g13850.3', 'at2g05520.5', 'at2g05520.5', 'at2g05520.5', 'at2g05520.5', 'at2g05520.5', 'at2g05520.3', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', 'at4g13850.2', 'at4g13850.2', 'at4g13850.3', 'at4g13850.3', 'at2g21660.2', 'at2g21660.1', 'at4g13850.2', 'at2g21660.2', 'at4g13850.2', 'at4g13850.3', 'at2g21660.2', 'at4g13850.3', 'at4g13850.1', 'at4g13850.3', 'at2g21660.2', 'at4g13850.1', 'at4g13850.3', 'at4g13850.3', 'at2g21660.2', 'at2g21660.2', 'at2g21660.2', 'at4g13850.2', 'at4g13850.2', 'at4g13850.2', 'at4g13850.3', 'at4g13850.3', 'at4g13850.2', 'at2g21660.1', '-', 'at2g05520.5', '-', 'at4g13850.3', 'at4g13850.2', 'at4g13850.2', 'at4g13850.3', 'at2g05520.5', 'at4g13850.3', '-', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3', 'at4g13850.3']

In [122]:
new_col_id = []
new_col_ev = []
for i in range(0,len(arabidopsis_id)):
    new_col_id.append('-')
    new_col_ev.append('-')
for i in range(0,len(result_id)):
    new_col_id.append(result_id[i])
    new_col_ev.append(result_ev[i])
len(new_col_id)

302

In [125]:
df['ortholog'] = new_col_id
df['evalue'] = new_col_ev
print(df)

               id                                                seq  \
0     at2g05380.1  masktllllglfaflfivsemaaagtvkseseetvkpeqhgggfgd...
1     at2g05380.2  masktllllglfaflfivsemaaagtvkseseetvkpeqhgggfgd...
2     at2g05380.3  mgtyyssqvlssickkmasktllllglfaflfivsemaaagtvkse...
3     at2g05440.1  maskalillglfsvllvvsevsaarqsgmvkpeseetvqpegyggg...
4     at2g05440.2  maskalillglfsvllvvsevsaarqsgmvkpeseetvqpegyggg...
..            ...                                                ...
297  KAG2329524,1  mafckslggklrqgavsqtsnvlvqsmlgslwyistklfvgglswg...
298  KAG2325919,1  mafckslggllrqgavtqtgnvpvtsmlgslrymstklfvgglswg...
299  KAG2314518,1  mafckslggllrqgavsqtgnvpvqsmlgslrymstkifvgglswg...
300  KAG2255497,1  mafcknlggllrqgavsqtgnvpvqsmlgslrymstklfvgglswg...
301  KAG2251632,1  mafckslggllrqgvvsqtgnvpvtsmlgslrymstklfvgglswg...

                Organism     ortholog evalue
0    Arabidpsis Thaliana            -      -
1    Arabidpsis Thaliana            -      -
2    Arabidpsis Thaliana            -      -
3    Arabidpsis Thaliana            -      -
4    Arabidpsis Thaliana            -      -
..                   ...          ...    ...
297   Brassica carinata]  at4g13850.3    0.0
298   Brassica carinata]  at4g13850.3    0.0
299   Brassica carinata]  at4g13850.3    0.0
300   Brassica carinata]  at4g13850.3    0.0
301   Brassica carinata]  at4g13850.3    0.0

[302 rows x 5 columns]

In [126]:
df.to_excel('output.xlsx')